* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.box1 {
  padding: 5px 10px 15px 20px;
  border: 3px solid red;
  /* margin: 10px 20px 30px 40px; */

  height: 300px;
  width: 49%;

  display: inline-block;
}

#first-box {
  display: none;
}

div:last-of-type:hover {
  background: gray;
  opacity: 0.7;
}

